extends layout

block content
  h1 注册界面
  div.form
    form(action="/regyz", method="post")
        li
            span.name 用户名:
            input(
                type="text"
                name="user"
            )
        li
            span.name 密码:
            input(
                type="text"
                name="pass"
            )
        li
            input(
                type="submit"
                val="注册"
            )
